services:
  frontend:
    image: node:20-alpine
    working_dir: /workspace/saturday_league_football_frontend
    # Assumes deps are installed on host:
    #   cd platform/design-system && npm install && npm run build
    #   cd ../../saturday_league_football_frontend && npm install
    command: sh -c "npm run dev -- --host 0.0.0.0 --port 5173"
    ports:
      - "5173:5173"
    environment:
      CHOKIDAR_USEPOLLING: "true"
      VITE_API_PROXY_TARGET: "http://host.docker.internal:3004"
    volumes:
      - ../:/workspace
      - frontend_node_modules:/workspace/saturday_league_football_frontend/node_modules
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  frontend_node_modules:
